/**
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
 */
.que.multichoicegrid .answer-autoflow {
    column-count: 1;
}

@media (max-width: 992px) {
    .que.multichoicegrid .answer-autoflow {
        column-count: 1;
    }
}

@media (max-width: 1200px) {
    .que.multichoicegrid .answer-autoflow {
        column-count: 2;
    }
}

.que.multichoicegrid .answer-autoflow {
    column-count: 3;
}
