{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_toeicexam/toeicexam_question

    The question to display

    Example context (json):
    {
        "pdffiles": [{"url" : "http://documentfileurl"},{"url" : "http://documentfileurl2"}]
        "audiofiles": [{"url" : "http://audiofileurl"},{"url" : "http://audiofileurl2"}]
        "questions" : [
            { "answers": [{"label":"A", "value":1, "selected": true}, {"label":"B", "value":2}, {"label":"C", "value":3}, {"label":"D", "id":4}], "feedback": "myfeedback", "id": "myfirstinputid"}
            { "answers": [{"label":"A", "value":1}, {"label":"B", "value":2}, {"label":"C", "value":3}, {"label":"D", "id":4}], "feedback": "myfeedback", "id": "mysecondinputid"}
        ]
    }
}}
<div class="toeicexam_question">
    <div class="row">
        <div class="col">
            <div class="documentpdf">
                {{#pdffiles}}
                    <object class="min-vh-100" data="{{url}}" type="application/pdf" width="100%">
                        <param name="src" value="{{url}}"/>
                    </object>
                {{/pdffiles}}
            </div>
        </div>
        <div class="col-4">
            <div>
                {{#audiofiles}}
                    <audio class="m-auto" controls src="{{url}}"></audio>
                {{/audiofiles}}
            </div>
            <div class="pt-3">
                <table class="columns-autoflow-1to1to1">
                    <thead>
                    <tr>
                        <td>#</td>
                        {{#possibleanswers}}
                            <th>{{.}}</th>
                        {{/possibleanswers}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#questions}}
                        <tr class="m-auto">
                            <td>
                                {{index}}.
                            </td>
                            {{#answers}}
                                <td>
                                    <label class="label">
                                        <input class="input {{additionalclass}}" type="radio" value="{{value}}" name="{{id}}" {{#selected}}checked{{/selected}}>
                                        <span class="sr-only">{{label}}</span>
                                    </label>
                                    {{{feedbackimage}}}
                                </td>
                            {{/answers}}
                        </tr>
                    {{/questions}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>